sudo: required 
services:
  - docker

before_install:
  - docker build -t jayateerth1995/docker-reactjsapp -f Dockerfile.dev .
script:
  - docker run -e CI=true jayateerth1995/docker-reactjsapp npm run test
